# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/Introducere_in_data_science/cursuri/Curs1/.ipynb_checkpoints
/Introducere_in_data_science/cursuri/Curs1/Curs1_clasa - Copy.ipynb
/Introducere_in_data_science/cursuri/Curs2/.ipynb_checkpoints
/Introducere_in_data_science/cursuri/Curs2/Curs2-clasa - Copy.ipynb
/Introducere_in_data_science/cursuri/Curs2/myUtils/__pycache__
/Introducere_in_data_science/cursuri/Curs2/my_modules/__pycache__/mySmartModule.cpython-36.pyc
/Introducere_in_data_science/cursuri/Curs2/save.pkl
/Introducere_in_data_science/cursuri/Curs3/.ipynb_checkpoints
/Introducere_in_data_science/cursuri/Curs3/.ipynb_checkpoints/Curs3 - clasa-checkpoint.ipynb
/Introducere_in_data_science/cursuri/Curs3/.ipynb_checkpoints/Curs3-checkpoint.ipynb
/Introducere_in_data_science/cursuri/Curs3/Curs3 - clasa - Copy.ipynb
/Introducere_in_data_science/cursuri/Curs4/.ipynb_checkpoints
/Introducere_in_data_science/cursuri/Curs5/.ipynb_checkpoints/Curs5-checkpoint.ipynb
/Introducere_in_data_science/laboratoare/Laborator1/.ipynb_checkpoints
/Introducere_in_data_science/laboratoare/Laborator2/.ipynb_checkpoints
/Introducere_in_data_science/laboratoare/Laborator2/Laborator2_rezolvari.ipynb
/Introducere_in_data_science/laboratoare/Laborator3/.ipynb_checkpoints
/Introducere_in_data_science/laboratoare/Laborator3/Laborator3-rezolvari.ipynb
/Introducere_in_data_science/laboratoare/Laborator4/.ipynb_checkpoints
/Introducere_in_data_science/laboratoare/Laborator4/.ipynb_checkpoints/Laborator4-checkpoint.ipynb
