<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=.\develop; database = northwind; user id = sa; pwd = sapassword" name="myConStr" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
