.signup_input {
    border-color: #d4d4d4;
    background-color: #f4f6fb;
    box-shadow: none;
    outline: none;
    padding: 0 2.2rem;
    font-family: ingra,sans-serif;
    font-weight: 400;
    color: #2a3734;
    border-radius: 5px;
    margin-bottom: 1rem;
    line-height: 2.5rem;
    border-width: 2px;
    border-style: solid;
    transition: all .25s ease;
    font-size: 14px;
}

#signup_form {
    width: 320px;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
}

#signup_root {
    width: 320px;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
    color: #4d5266;
}

h2,p {
    font-family: industry, sans-serif;
}

h2 {
    font-weight: 400;
        margin: 0;
    font-size: 1.75rem;
    line-height: 1rem;
}

.signup_button {
        background-color: #61d199;
        justify-content: center;
    text-align: center;
    font-size: 1rem;
    align-items: center;
        border-radius: 5px;
    text-transform: capitalize;
    border: 1px solid transparent;
        padding: 12px 28px;
    cursor: pointer;
    transition: all .25s ease;
}

.signup_button_text {
    text-align: center;
    font-size:1rem;
        text-transform: capitalize;
        font-family: industry,sans-serif;
    font-weight: 400;
        line-height: .5em;
    color: #fff;
        transition: all .25s ease;
    cursor: pointer;
}

.fb_image {
        height: 24px;
    width: 24px;
    color: #fff;
}

.google_image {
            height: 24px;
    width: 24px;
}
.google_image_container {
            height: 24px;
    margin: 8px 8px 8px 0px;
        float: left;
    text-align: left;
}
.fb_image_container {
        height: 24px;
    margin: 8px 8px 8px 0px;
    float: left;
    text-align: left;
    background-color: #fff;
}

.social_auth_button {
    cursor: pointer;
        background-color: #fff;
    border-color: #d4d4d4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 4px;
    padding: 0px;
  height: 50px;
}

.social_buttons {
display: flex;
  flex-direction: row;
  height: 100%;
}

.social_auth {
        margin: 0 5px 0;
}

#errors_area {
    animation-duration: 1s;
        animation-name: fadeInDown;
    margin: .7rem;
    min-height: .7em;
}

.error {
        display: block;
    line-height: .7em;
    padding: 0;
    color: #a94342;

        font-family: ingra,sans-serif;
    font-weight: 400;
}

.text_container {
    text-align: center;
    font-size: .9rem;
    line-height: 10px;
            font-family: industry,sans-serif;
    font-weight: 400;
  padding-left: 5px;
}

#or_block {
  margin: 8px;
}

/* Hides the reCAPTCHA on every page */
.grecaptcha-badge {
    visibility: hidden !important;
    top: 0 !important;
}